.map-stats__header {
  margin-bottom: 2.5rem;
  align-self: flex-start;

  & .map-stats__header--title {
    margin: 0;
    padding: 0;
  }

  & .map-stats__header--subtitle {
    padding: 0;
    margin: 0;
    color: #6c757d;
  }
}

.map-stats__title {
  color: rgb(188, 26, 29);
  font-weight: bold;
  font-size: 16px;
}
